[Unit]
Description=ala-namematching-service

[Service]
User=namematching
ExecStart=/usr/lib/jvm/java-8-openjdk-amd64/bin/java -jar /opt/atlas/ala-namematching-service/ala-namematching-server.jar server /data/ala-namematching-service/config/config.yml
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
