[Unit]
Description=ala-namematching-service
After=syslog.target

[Service]
User=namematching
ExecStart=/usr/lib/jvm/java-8-openjdk-amd64/bin/java -jar /data/ala-namematching-server.jar server /data/config.yml
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
